body {
  font-family: 'Lato', sans-serif;
}

h4.rdnt-h4-partners {
  color: $color-2;
  background-color: $white; 
  box-sizing: border-box;
  padding: 10px 20px 10px 40px;
  font: {
    size: 16px;
    weight: 500;
  } 
  text-align: center;
}

section.rdnt-partners {
  width: 100%;
  min-height: 600px; 
  box-sizing: border-box;
  padding: 40px 20px 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  position: relative;
  background: {
    color: $color-2;
  }
  @media #{$sm} {
    background: {
      image: url('../assets/img/handshake.jpg');
      blend-mode: soft-light;
      size: cover;
      position: top center;
      repeat: no-repeat;
    }
    justify-content: center;
  }
  .rdnt-partners-desktop-img {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: {
      image: url('../assets/img/handshake.jpg');
      blend-mode: soft-light;
      size: cover;
      position: top center;
      repeat: no-repeat;
      color: $color-2;
    }
    position: absolute;
    top: 0;
    left: 0;
    @media #{$sm} {
      display: none;
    }
  }
  //ROTATOR
  .rdnt-partners-rotator {
    margin-left: 50%;
    width: 50%;
    height: auto;
    @media #{$sm} {
      margin-left: 0%;
      width: 100%;
    }
    .rdnt-partners-line {
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: calc(50% - 10%);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2f73b8+49,2f73b8+100&0+0,1+49,1+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(47,115,184,1) 49%, rgba(47,115,184,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(47,115,184,1) 49%,rgba(47,115,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(47,115,184,1) 49%,rgba(47,115,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2f73b8',GradientType=1 ); /* IE6-9 */
      @media #{$sm}{
        display: none;
      }
    }
    //ROTATOR IMAGES
    .rdnt-rotator-box-img-wrapper {
      width: auto;
      max-width: 480px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      @media #{$sm}{
        max-width: 320px;
      }
      .rdnt-rotator-box-img {
        width: auto;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        cursor: pointer;
        @media #{$sm}{
          height: 80px;
        }
        //BRAND
        .rdnt-partner-brand-box {
          margin-right: 10px;
          margin-left: 10px;
          position: relative;
          @include rdnt-animate;
          &:after {
            display: none;
            @include rdnt-animate;
          }
          &.active {
            &:after {
              @include rdnt-animate;
              display: inline-block;
              position: absolute;
              bottom: -20px;
              left: calc(50% - 9px);
              width: 0; 
              height: 0; 
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
              border-top: 9px solid rgba(white, 0.25);
              content: '';
            }
          }
          .rdnt-partner-brand {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 100%;
            @media #{$sm}{
              width: 60px;
              height: 60px;
            }
            img {
              max-width: 64px;
              max-height: 64px;
              @media #{$sm}{
                max-width: 48px;
                max-height: 48px;
              }
            }

          }
        }
      }
    }
    //TEXT ROTATOR
    .rdnt-rotator-box-text-wrapper {
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;
      display: block;
      width: 480px;
      max-width: 480px;
      margin-top: 20px;
      overflow: hidden;
      .rdnt-rotator-box-text {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        //BRAND TEXT
        .rdnt-brand-text {
          width: 480px;
          min-width: 480px;
          max-width: 480px;
          @include rdnt-animate;
          display: none;
          &.active {
            display: block;
          }
          h5.rdnt-partner-name {
            display: inline-block;
            color: $white;
            text-transform: capitalize;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 400px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(white, 0.25);
          }
          h6.rdnt-partner-title {
            margin-top: 10px;
            color: $white;
            font: {
              family: 'Lato', sans-serif;
              size: 28px;
              weight: 600;
            }
          }
          p.rdnt-partner-description {
            color: $white;
            margin-top: 10px;
            font: {
              family: 'Lato', sans-serif;
              size: 12px;
              weight: 400;
            }
          }
        }
      }
    }
  }
}

//VENUES NAV

nav.rdnt-new-nav-venues{
  @include rdnt-clean-ahref;
  @include rdnt-clean-list;
  background-color: $color-1;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px!important;
  max-height: 70px;
  margin-top: 200px!important;//ERASE
  &:hover {
    margin-top: 200px!important;
    padding: 0px 20px 0px 20px!important;
  }
  @media #{$sm} {
    max-height: initial;
    padding: 0px 0px 60px 0px!important;
    position: relative;
    &:hover {
      padding: 0px 0px 60px 0px!important;
    }
  }
  p.rdnt-new-nav-venues-title  {
    display: none;
    @media #{$sm}{
      display: block;
      text-align: center;
      font: {
        size: 14px;
        weight: 300;
      }
      padding-top: 20px!important;
      margin-bottom: 10px;
      color: $white;
    }
  }
  ul.rdnt-new-nav-venues-ul {
    @include rdnt-clean-ahref;
    @include rdnt-clean-list;
    @include rdnt-clean-webkit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    li.rdnt-new-nav-venues-li {
      max-width: 280px;
      box-sizing: border-box;
      @include rdnt-clean-ahref;
      @include rdnt-clean-list;
      @include rdnt-clean-webkit;
      padding: 10px!important;
      margin-left: 10px!important;
      margin-right: 10px!important;
      cursor: pointer;
      &:hover {
        padding: 10px!important;
        margin-left: 10px!important;
        margin-right: 10px!important;
      }
      @media #{$sm} {
        margin-left: 0px!important;
        margin-right: 0px!important;
        max-width: initial;
        position: relative;
        border: 1px solid white;
        border-radius: 5px;
        margin: 5px!important;
        &:hover {
          margin-left: 0px!important;
          margin-right: 0px!important;
          margin: 5px!important;
          border: 1px solid white;
          border-radius: 5px;
        }
      }
      h2.rdnt-new-nav-h2 {
        color: $white;
        font: {
          size: 18px;
          weight: 300;
        }
        text: {
          align: center;
          transform: capitalize;
        }
        margin-bottom: 10px;
        @media #{$sm}{
          text-align: right;
          margin-bottom: 0px;
        }
      }    
      p.rdnt-new-nav-p {
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;
        color: $white;
        position: relative;
        font: {
          size: 12px;
          weight: 400;
        }
        display: none;
        margin-bottom: 5px;
        @media #{$sm} {
          display: flex;
          margin-bottom: initial;
        }
        a.rdnt-new-nav-a {
          color: $white;
          text-decoration: none;
          font: {
            size: 12px;
            weight: 400;
          }
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          img {
            margin-right: 5px;
            @media #{$sm} {
              margin-right: 0px;
            }
          }
          &.img {
            display: inline-block;
            min-width: 16px!important;
            @media #{$sm} {
              display: none;
            }
            img {
              width: 12px!important;
            }
          }
          @media #{$sm} {
            display: none;
            &.img {
              width: 41px;
              height: 41px;
              flex-direction: row;
              justify-content: center;
              align-content: center;
              align-items: center;
              background-color: $color-2;
              position: absolute;
              top: 0px;
              &.tel {
                left: 0px;
                border-right: 1px solid rgba($white, 0.25);
              }
              &.mail {
                left: 42px;
              }
              &.location {
                left: 84px;
                border-right: 1px solid rgba($white, 0.25);
              }
              img {
                height: 18px;
              }
            }
          }
        }
        span.rdnt-joiner {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: nowrap; 
          @media #{$sm} {
            display: none;
          }
          a.rdnt-new-nav-a {
            color: $white;
            cursor: pointer;
            text-decoration: none;
            font: {
              size: 12px;
              weight: 400;
            }
            img {
              margin-right: 5px;
            }
            &:first-of-type {
              margin-right: 5px;
            }
          }
        }
      }
      &.active {
        border-radius: 10px 10px 0px 0px;
        margin-top: -100%!important;
        &:hover {
          margin-top: -100%!important;
          border-radius: 10px 10px 0px 0px;
        }
        @media #{$sm} {
          margin-top: 0px!important;
          border-radius: 0px 0px 0px 0px!important;
          padding-left: 136px!important;
          border: 0px;
          width: 100%;
          margin-right: 0px!important;
          margin-left: 0px!important;
          position: absolute;
          bottom: -4px;
          left: 0px;
          &:hover {
            margin-top: 0px!important;
            padding-left: 136px!important;
            margin-right: 0px!important;
            margin-left: 0px!important;
          }
          a.rdnt-new-nav-a.img {
            display: flex!important;
            img {
              height: 18px!important;
              width: auto!important;
            }
          }
        }
        p.rdnt-new-nav-p {
          display: flex;
          @media #{$sm}{
            display: flex;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        h2.rdnt-new-nav-h2 {
          text-transform: uppercase;
          @media #{$sm}{
            text-align: left;
            margin-left: 10px;
          }
        }
        &:nth-of-type(1){
          background-color: $color-4;
        }
        &:nth-of-type(2){
          background-color: $color-5;
        }
        &:nth-of-type(3){
          background-color: $color-3;
        }
        &:nth-of-type(4){
          background-color: $color-6;
        }
        &:nth-of-type(5){
          background-color: $color-4;
        }
        &:nth-of-type(6){
          background-color: $color-5;
        }
        &:nth-of-type(7){
          background-color: $color-3;
        }
        &:nth-of-type(8){
          background-color: $color-6;
        }
        &:nth-of-type(9){
          background-color: $color-4;
        }
        &:nth-of-type(10){
          background-color: $color-5;
        }
      }
    }
  }
}

// NEW VENUES SECTION
section#venues-new.rdnt-venues-new-section {
  display: block;
  position: relative;
  .rdnt-venues-new-section-venue {
    display: none;
    flex-direction: row;
    min-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
    background: white;
    @include rdnt-animate;
    @media #{$sm}{
      flex-direction: column-reverse;
      min-height: initial;
    }
    &.active {
      display: flex;
      z-index: 1;
    }
    article.rdnt-venues-new-section-article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50%;
      position: relative;
      @media #{$sm}{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
      }
      span.rdnt-venues-new-section-span {
        display: block;
        margin-bottom: 40px;
        color: $color-6;
        font: {
          family: 'Lato', sans-serif;
          size: 18px;
          weight: 300;
        }
        text-align: center;
        @media #{$sm}{
          margin-bottom: 5px;
        }
      }
      h1.rndt-venues-new-section-h1 {
        display: block;
        margin-bottom: 20px;
        color: $color-2;
        font: {
          family: 'Lato', sans-serif;
          size: 32px;
          weight: 600;
        }
        text-align: center;
        text-transform: capitalize;
      }
      .rdnt-venues-new-section-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        a, a:hover, a:focus, a:visited {
          cursor: pointer;
          color: $color-6;
          font: {
            family: 'Lato', sans-serif;
            size: 14px;
            weight: 400;
          }
          text: {
            align: center;
            decoration: none;
          }
          span {
            color: $color-6;
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              decoration: none;
            }
          }
        }
        .rdnt-joiner {
          display: flex;
          flex-direction: row;
          justify-content: center;
          @media #{$sm}{
            flex-direction: column;
          }
          span {
            color: $color-6;
            margin-right: 5px;
            &:last-of-type{
              margin-right: 0px;
            }
            font: {
              family: 'Lato', sans-serif;
              size: 14px;
              weight: 600;
            }
            text: {
              align: center;
              decoration: none;
            }
            a {
              cursor: pointer;
              color: $color-6;
              font: {
                family: 'Lato', sans-serif;
                size: 14px;
                weight: 400;
              }
              text: {
                align: center;
                decoration: none;
              }
            }
          }
        }
      }
    }
    article.rdnt-venues-new-section-image {
      width: 50%;
      min-height: 600px;
      height: 100%;
      box-sizing: border-box;
      position: relative;
      background: {
        color: gray;
        image: url('http://placekitten.com/1000/1000');
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      @media #{$sm}{
        min-height: 300px;
        height: auto;
        width: 100%;
      }
      img {
        height: calc(100% + 4px);
        width: auto;
        position: absolute;
        left: -2px;
        top: -2px;
        @media #{$sm}{
          display: none;
        }
      }
    }
  }
}


//MODAL 

.rdnt-venue-new-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
}

.rdnt-venue-new-modal {
  width: 100vw;
  height: 100vh;
  z-index: 31;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  .rdnt-venue-new-modal {
    background-color: $white;
    border-radius: 10;
    padding: 20px;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    position: relative;
    @media #{$sm}{
      max-width: 320px;
    }
    button.rdnt-venue-new-modal-close {
      width: 28px;
      height: 28px;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      border: 0;
      img {
        width: 14px;
      }
    } 
    h4.rdnt-venue-new-modal-h4 {
      font: {
        size: 24px;
        weight: 600;
        family: 'Lato', sans-serif;
      }
      color: $color-3;
      margin-bottom: 20px;
      @media #{$sm}{
        font-size: 18px;
      }
    }
    .rdnt-venue-list-modal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media #{$sm} {
        width: 290px;
        flex-direction: column;
        align-items: flex-start;
        max-height: 300px; 
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: nowrap;
      }
      a.rdnt-venue-new-option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        margin: 10px;
        @media #{$sm} {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: flex-start;
          min-height: 32px;
        }
        .rdnt-venue-new-photo {
          width: 96px;
          height: 96px;
          border-radius: 100%;
          border: 3px solid $color-1;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          align-items: center;
          @media #{$sm} {
            width: 32px;
            height: 32px;
            border: 2px solid $color-1;
            min-width: 32px;
            min-height: 32px;
          }
          img {
            width: 150px;
            height: auto;
            @media #{$sm} {
              width: 50px;
            }
          }
        }
        h5.rndt-venue-new-modal-h5 {
          margin-top: 5px;
          font: {
            size: 14px;
            weight: 400;
            family: 'Lato', sans-serif;
          }
          color: $color-2;
          text: {
            align: center;
            transform: capitalize;
          } 
          @media #{$sm}{
            font-weight: 500;
            margin-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 210px;
          }
        }
      }
    }
    a.rdnt-button-new-reserve {
      margin-top: 20px;
      padding: 10px 20px 10px 20px;
      font: {
        size: 14px;
        weight: 500;
      }
      cursor: pointer;
      color: $white;
      background-color: $color-3;
      @include rdnt-animate;
      text-align: center;
      border: 0;
      border-radius: 30px;
      text-decoration: none;
      &:hover {
        background-color: lighten($color-3, 10%);
        color: $white;
        text-decoration: none;
      }
      &:visited, &:focus {
        color: $white;
        text-decoration: none;
      }
    }
  }
}