//COLORS
$white: #ffffff;
$black: #7D7979;
$color-1: #81BBE0;
$color-2: #2F73B8;
$color-3: #F26D33;
$color-4: #F5B432;
$color-5: #8BBD26;
$color-6: #37A8D2;
 

//BREAKPOINTS
$xs: "(max-width: 480px)";
$sm: "(max-width: 768px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1200px)";
$xxl: "(min-width: 1600px)";