doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Rident New Features
    link rel="stylesheet" href="styles/normalize.min.css" type="text/css"
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! FONT AWESOME
    link rel="stylesheet" href="styles/fontawesome-5.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="styles/rdnt-styles.css" type="text/css"
    /! JQUERY
    script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! SCRIPTS 
    script src="scripts/rdnt-scripts.min.js"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg"
  body
    h4.rdnt-h4-partners Nuestras Alianzas
    section#partners.rdnt-partners
      /! IMAGE DESKTOP
      .rdnt-partners-desktop-img
      /! ROTATOR
      .rdnt-partners-rotator
        .rdnt-partners-line
        .rdnt-rotator-box-img-wrapper 
          .rdnt-rotator-box-img
            /! BRAND LOGO 1
            .rdnt-partner-brand-box.active
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 2
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 3
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 4
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 5
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 6
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 7
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 8
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 9
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 10
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 11
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
            /! BRAND LOGO 12
            .rdnt-partner-brand-box
              .rdnt-partner-brand
                img src="/assets/img/logo.png"
        /! TEXT ROTATOR
        .rdnt-rotator-box-text-wrapper
          .rdnt-rotator-box-text
            /! BRAND TEXT 1
            .rdnt-brand-text.active
              h5.rdnt-partner-name
                | Alianza nombre Compañía 1
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 2
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 2
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 3
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 3
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 4
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 4
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 5
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 5
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 6
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 6
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 7
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 7
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 8
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 8
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 9
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 9
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 10
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 10
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 11
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 11
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            /! BRAND TEXT 12
            .rdnt-brand-text
              h5.rdnt-partner-name
                | Alianza nombre Compañía 12
              h6.rdnt-partner-title
                | Nombre del beneficio de la alianza
              p.rdnt-partner-description 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      