doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Rident New Features
    link rel="stylesheet" href="styles/normalize.min.css" type="text/css"
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! FONT AWESOME
    link rel="stylesheet" href="styles/fontawesome-5.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="styles/rdnt-styles.css" type="text/css"
    /! JQUERY
    script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! SCRIPTS 
    script src="scripts/rdnt-scripts.min.js"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg"
  body
    .rdnt-venue-new-modal-bg
    /! RESERVE MODAL
    .rdnt-venue-new-modal-wrapper.reserve-modal
      .rdnt-venue-new-modal
        .rdnt-venue-new-modal
          button.rdnt-venue-new-modal-close onclick="closeNewVenueSelectionReserveModal();"
            img src="./assets/img/close.svg"
          h4.rdnt-venue-new-modal-h4 Elije tu sede:
          .rdnt-venue-list-modal
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
          a.rdnt-button-new-reserve Reservar
    
    /! VENUE SELECTION NEW MODAL
    .rdnt-venue-new-modal-wrapper.venue-selection-new-modal.display-none
      .rdnt-venue-new-modal
        .rdnt-venue-new-modal
          .rdnt-venue-new-modal-close
            img src="./assets/img/close.svg"
          h4.rdnt-venue-new-modal-h4 Elije tu sede:
          .rdnt-venue-list-modal
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede Nombre sede Nombre sede  Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
            /! VENUE
            a.rdnt-venue-new-option href="#" target="_blank"
              .rdnt-venue-new-photo
                img src="http://placekitten.com/g/200/300"
              h5.rndt-venue-new-modal-h5 Nombre sede
          a.rdnt-button-new-reserve Reservar

