doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Rident New Features
    link rel="stylesheet" href="styles/normalize.min.css" type="text/css"
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! FONT AWESOME
    link rel="stylesheet" href="styles/fontawesome-5.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="styles/rdnt-styles.css" type="text/css"
    /! JQUERY
    script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! SCRIPTS 
    script src="scripts/rdnt-scripts.min.js"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg"
  body
    nav.rdnt-new-nav-venues
      p.rdnt-new-nav-venues-title Elige tu sede:
      ul.rdnt-new-nav-venues-ul
        li.rdnt-new-nav-venues-li
          h2.rdnt-new-nav-h2 Puente Alto
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.phone href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span
                  | +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704
        li.rdnt-new-nav-venues-li.active
          h2.rdnt-new-nav-h2 Salvador
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.phone href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span 
                  | +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704
        li.rdnt-new-nav-venues-li
          h2.rdnt-new-nav-h2 Tobalaba
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.phone href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span 
                  | +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704
        li.rdnt-new-nav-venues-li
          h2.rdnt-new-nav-h2 Santa Lucia
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.tel href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span 
                  | +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704
        li.rdnt-new-nav-venues-li
          h2.rdnt-new-nav-h2 Estación Central
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.phone href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span 
                  | +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704
        li.rdnt-new-nav-venues-li
          h2.rdnt-new-nav-h2 La Florida
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.tel href="#"
              img src="./assets/img/phone.svg"
            span.rdnt-joiner
              a.rdnt-new-nav-a href="#"
                span 
                  | +56 22
                | 851 07 59
              a.rdnt-new-nav-a  href="#"
                span +56 22
                | 851 07 59
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.mail href="#"
              img src="./assets/img/mail.svg"
            a.rdnt-new-nav-a href="#" correo@rident.cl
          p.rdnt-new-nav-p
            a.rdnt-new-nav-a.img.location href="#"
              img src="./assets/img/location.svg"
            a.rdnt-new-nav-a href="#" José Manuel Irarrázabal #0180 Of. 704

